@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Helvetica&family=Montserrat&family=Source+Sans+3&family=Nunito:wght@400&display=swap');

/* Dentro del import hacemos font-display: swap para que use una fuente genérita mientras se carga la fuente, e inmediatamente la transforma */
* {
    box-sizing: border-box;
}



:root {
    --primary-color: whitesmoke; /* o #fcfcfc */
    --secondary-color: #444444;
    --color1: #363636;
    --color2: #282828;
    --color3: black;
    --color4: #f0f0f0;
    --h3color: #7e2b2bcc;
    --a-hover-color: royalblue;
    --tr-odd-color: #ffffff;
    --tr-even-color: #f2f2f2;
    --img-border-color: lightgray;
    --selection-color: teal;
}

body.dark {
    --primary-color: #191921;
    --secondary-color: #292938;
    --color1: #aaadad;
    --color2: #eeeeee;
    --color3: white;
    --h3color: #cc972d;
    --tr-odd-color: var(--secondary-color);
    --tr-even-color: #0a0808;
}

body {
    margin: 10px;
    max-width: 100vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--primary-color);
    line-height: 1.32;
    letter-spacing: -.003em;
    font-size: 20px;
    transition: background-color 1.2s ease-out;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-button{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 10px;
    background-color: #555;
}
::selection {
    color: var(--primary-color);
    background: var(--selection-color);
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: var(--color2);
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: 800;
    font-size: 41px;
}

h2, h3, h4 {
    font-weight: 600;
}

h2 {
    font-size: 31px;
}

h3 {
    font-size: 22px;
    color: var(--h3color);
}

h4 {
    font-size: 19px;
    letter-spacing: -.0em;
}

p {
    text-align: match-parent;
    align-content: center;
    align-self: auto;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: -.01em;
    color: var(--color1);
    -webkit-font-smoothing: antialiased;
}

a {
    box-shadow: none;
    text-decoration: none;
    color: var(--color3);
}

a:hover {
    color: var(--a-hover-color);
    border-bottom: 2px solid var(--color3);
    font-size: calc(100% + 3px);
    transition: all 0.2s ease-out;
}

ion-icon {
    color: var(--color2);
}

ol li::marker,
ol li li::marker {
    font-family: "Helvetica", sans-serif;
    margin-right: 5px;
    color: var(--color1);
}

ol li::marker {
    font-size: 24px;
}

ol > li li::marker {
    font-size: 18px;
}

img {
    width: 350px;
    height: 180px;
    border: 2px solid var(--img-border-color);
}

/* ESTILOS PERSONALIZADOS */

.content-container {
    margin: 10% 15%;
}

.container-index {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.centered-list {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
}

.centered-list li {
    margin-bottom: 10px;
}

.centered-list a:hover {
    font-size: 20px;
}

.container-index h2 {
    text-align: center;
    margin: 0;
}

.divided-embedded-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-embedded-source-container .left-embedded-source-container {
    padding: 20px;
}

.prestyled-table-content--web-versions {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

.prestyled-table-content--web-versions th,
.prestyled-table-content--web-versions td {
    padding: 10px;
    text-align: center;
}

.prestyled-table-content--web-versions td {
    color: var(--color3)
}

.prestyled-table-content--web-versions th {
    background-color: var(--color3);
    color: var(--primary-color);
    font-weight: bold;
}

.prestyled-table-content--web-versions tr:nth-child(even) {
    background-color: var(--tr-even-color);
}

.prestyled-table-content--web-versions tr:nth-child(odd) {
    background-color: var(--tr-odd-color);
}

footer {
    background-color: var(--secondary-color);
    color: var(--color4);
    padding: 20px;
    text-align: center;
    max-height: max-content;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.footer-row {
    flex: 1;
    max-width: 30%;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 5px;
    min-width: max-content;
}

.contact-form {
    display: grid;
    gap: 10px;
    flex: 1;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="date"]{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    border-bottom: 3px solid var(--primary-color);
    color: var(--color1);
    background-color: transparent;
    outline: none;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 8px;
}
.contact-form select{
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--color1);
    min-width: 170px;
    height: 25px;
    margin-left: 15px;
}

.contact-form textarea{
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--color1);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border-color: none;
}
.contact-form textarea:focus{
    position: relative;
    animation: respiracion 3s ease-in-out infinite;
}

.contact-form input[type="checkbox"]{
    position: relative;
    cursor: pointer;
    height: 15px; /* Altura del checkbox */
    width: 15px; /* Ancho del checkbox */
    background-color: var(--color2); 
    border: none;
    border-radius: 5px; /* Radio de borde del checkbox */
}
/* Estilos para el estado "checked" del checkbox */
.contact-form input[type="checkbox"]:checked{
    background-color: #007BFF; /* Fondo cuando está marcado */
    border-color: #007BFF; /* Borde cuando está marcado */
}

.contact-form button {
    background-color: #007BFF;
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0049ff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
}

.form-group input,
.form-group label {
    margin-right: 10px;
}



.theme-switch-container {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10em;
    color: var(--secondary-color);
    font-size: 18px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 12px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #b1780e;
}
 
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}


@keyframes respiracion {
    0% {
      border-color: #ffc107; /* Color inicial del borde */
      box-shadow: 0 0 10px rgba(255, 193, 7, 0.6); /* Sombra inicial */
    }
    50% {
      border-color: #ffc240; /* Mantiene el color a la mitad de la animación */
      box-shadow: 0 0 20px rgba(255, 193, 7, 0); /* Sombra más suave */
    }
    100% {
      border-color: #ffc790; /* Vuelve al color inicial */
      box-shadow: 0 0 10px rgba(255, 193, 7, 0.6); /* Sombra inicial */
    }
  }