@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Helvetica&family=Montserrat&family=Source+Sans+3&display=swap');
/* Importamos dos fuentes de Google FONTS mediante la API*/



 *{
    box-sizing: border-box;
 }

 ::selection {
    color: whitesmoke;
    background: teal;
}

 body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    margin: 10px;
    font-weight: 500;
    line-height: 1.48;
    letter-spacing: -.003em;
    font-size: 20px;
}

 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 41px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}

 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 31px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}

 h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(126, 43, 43, 0.8);
    -webkit-font-smoothing: antialiased;
}

  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: -.0em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}

 p {
    text-align: justify;
    justify-content: center;
    text-justify:inter-word;
    font-family: 'Helvetica', sans-serif; /* Source Sans 3 o Helvetica */
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    line-height: 1.15;
    letter-spacing: -.01em;
    color: #363636;
    -webkit-font-smoothing: antialiased;
} 
  a {
    box-shadow: none;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid darkgray; 
  }

  a:hover {
    color: royalblue;
    border-bottom: 2px solid black; 
  }

  img {
    width: 350px;
    height: 180px;
    border: 2px solid lightgray;
  }
  




/* ----------------------------  ESTILOS PERSONALIZADOS ----------------------------------------*/
/* Estilos para la tabla moderna */
    .prestyled-table-content--web-versions {
        border-collapse: collapse; /*El collapse es para que las lineas no se superpongan */
        width: 100%;
        padding: 10px;
    }

    .prestyled-table-content--web-versions th, .prestyled-table-content--web-versions td {
        padding: 10px;
        text-align: center;
        /* border-radius: 19px; */
    }

    .prestyled-table-content--web-versions th {
        background-color: #363636;
        color: #fff;
        font-weight: bold;
    }

    .prestyled-table-content--web-versions tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .prestyled-table-content--web-versions tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    .content-container{
        margin: 15%;
    }

  .inline-list-element{
    display: inline-;
    margin-bottom: 5px;
    align-items:center;
  }

  .contenedor {
    display: flex; /* Establece el contenedor como un flex container */
    justify-content: space-between; /* Alinea las columnas con espacio entre ellas */
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .right-embedded-source-container .left-embedded-source-container {
    padding: 20px; /* Agrega espacio interno para separar el contenido de las columnas */
  }

    /* Estilos generales del footer */
    footer {
    background-color: #333; /* Cambia el color de fondo a tu preferencia */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-row {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: left;
  }
  
  /* Estilos para el formulario de contacto */
  .contact-form {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    color: #333;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="checkbox"] {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased; 
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #f0f0f0; /* Línea inferior del mismo color que el fondo */
    background-color: transparent; /* Fondo transparente */
    outline: none; /* Elimina el contorno al hacer clic */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    padding-top: 5px;
    margin-bottom: 8px;


  }
  
  .contact-form button {
    background-color: #007BFF; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para los enlaces del footer */
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  



